html{
	text-align: center;
	font-family: Helvetica;
}
.title{
	font-size: 70px;
}

a {
	font-size: 18px;
	
}
a,.title,.DESIGN,footer{
	color: white;
}

div{
	background-image: url(../images/the-flatiron-building.png);
	
}
h1{
	font-weight: bold;
}
.subtitle,.subsubtitle,p{
	color: gray;
}

.subsubtitle{
	font-size: 23px;
	
}
p{
	font-size: 14px;
}
.DESIGN{
	background-image: url(../images/the-flatiron-building.png);
}
footer{
	background-color: dimgray;
	font-size: 11px;
	text-align:left;
}